@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --color-brown: #6B4B3E;
    --color-white: #F8F4F9;
    --cadet-gray: #8da7beff;
    --smoky-black: #171312ff;
    --alice-blue: #eef6fcff;
    --platinum: #d2d6dbff;
    --thistle: #c5adc5ff;
}

html *
{
    font-family: 'Roboto', sans-serif;
}

body
{
    background-color: var(--smoky-black);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#title-container
{
    background-image: linear-gradient(45deg, var(--thistle), var(--platinum));
    background-size: 100%;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding: 16px 0;
}

.header-title {
    display: flex;
    flex-direction: row;
}

#title
{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 0 24px;
    border-right: 3px solid var(--smoky-black);
}

#subtitle
{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-align: left;
    min-width: 400px;
    margin: 12px 0;
    padding: 10px 0 4px 24px;
}

.navContainer
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#greeting
{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 24px;
    min-width: 240px;
    font-weight: 300;
    text-align: center;
    margin: 0;
    padding: 20px 0;
}

#logoutButton{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    width: 128px;
    margin: 0 36px;
}

#accessUIDiv
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--platinum);
    width: 80%;
    height: 100%;
    margin-top: 12px;
    padding: 0 16px;
}

.simpleSearchContainer
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
}

#searchOption
{
    border: 2px solid var(--smoky-black);
    background-color: var(--smoky-black);
    color: #ffffff;
    height: 36px;
    width: 84px;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding-left: 4px;
    outline: none;
    cursor: pointer;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.3));
}

#simpleSearch
{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    margin-left: 0;
    width: 60%;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.3));
}

#advancedSearch
{
    margin-right: 80%;
    border: 0;
    font-size: 14px;
    background: transparent;
    border-bottom: 1px solid black;
    cursor: pointer;
    padding: 0 4px;
}

#advancedSearch:hover
{
    color: #647686;
    border-bottom: 1px solid #647686;
}

.advancedSearchContainer
{
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    padding: 16px;
}

.searchFieldContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 8px;
}

.addField,
.searchField {
    font-size: 18px;
    height: 36px;
    text-align: left;
    width: 100%;
    min-width: 300px;
    margin: 4px 8px;
    padding: 4px 16px;
    border-radius: 6px;
    border: 2px solid var(--cadet-gray);
    background-color: var(--color-white);
}

.searchField:hover,
.searchField:active,
.searchField:focus,
.addField:hover,
.addField:active,
.addField:focus{
    outline: 0;
    border: 2px solid var(--smoky-black);
    background-color: rgba(255, 255, 255, 1);
}

.searchField::placeholder,
.addField::placeholder{
    color: #000000;
    opacity: 75%;
}

#searchButton,
#searchAllButton
{
    margin: 12px;
}

.addContactContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--cadet-gray);
    border-radius: 6px;
    width: 100%;
    padding: 16px 0 8px 24px;
    margin-bottom: 20px;
}

.addField
{
    width: 50%;
}

#tableMsg{
    color: #e00000;
    font-size: 24px;
    text-align: left;
    font-weight: 500;
    display: none;
}

.buttons
{
    font-size: 16px;
    font-weight: normal;
    border-radius: 6px;
    border-style: none;
    height: 36px;
    min-width: 128px;
    color: #ffffff;
    background-color: var(--smoky-black);
    margin: 8px 0 8px 0;
    cursor: pointer;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.3));
}

.buttons:hover{
    background-color: #D94A64;
    color: #edf3ff;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.5));
    opacity: 75%;
    transition: filter .3s;
}

#searchText
{
	font-size: 30px;
}
#colorText
{
	font-size: 30px;
}

#editContact{
    border-radius: 10px;
    background-color: #cafff8;
    color: darkblue;
    text-align: center;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

#deleteContact{
    border-radius: 10px;
    background-color: #cafff8;
    color: darkblue;
    text-align: center;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

#editContactTitleHeading{
    font-family: Arial, sans-serif;
    color: #cafff8;
    text-align: center;
    font-size: 34px;
}

#submitEditsButton{
    font-size: 16px;
    border-radius: 4px;
    min-width: 10%;
    font-family: Arial, sans-serif;
    text-decoration: none;
    text-align: center;
    display: block;
    color:#151426;
    background-color: #ffffff;
}

#submitEditsButton:hover{
    background-color: #D94A64;
}

#returnToSearchPageButton{
    font-size: 16px;
    border-radius: 4px;
    min-width: 10%;
    font-family: Arial, sans-serif;
    text-decoration: none;
    text-align: center;
    display: block;
    color:#151426;
    background-color: #ffffff;
}

#returnToSearchPageButton:hover{
    color:#D94A64;
}

#newContactBody{
    background-color: #100b36;
    width: 600px;
    height: 600px;
    align-items: center;
}

.tableContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 95%;
    padding: 8px;
    margin-top: 8px;
    border-top: 2px solid #312927;
    border-bottom: 2px solid #312927;
}

#contactTable {
    width: 100%;
    font-size: 18px;
    text-align: left;

    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-bottom: 10px;
}

#tableHeading {
    border-top-right-radius: 12px;
}

#contactTable tr th {
    background-color: var(--cadet-gray);
}

#contactTable tr th:first-child {
    border-top-left-radius: 6px;
}

#contactTable tr th:last-child {
    border-top-right-radius: 6px;
}

#contactTable th,
#contactTable td {
    padding: 12px 15px;
}

#contactTable tr {
    border-bottom: 2px solid var(--thistle);
}

#contactTable tr.active {
    background-color: var(--thistle);
    border-bottom: 2px solid var(--color-brown);
}

#contactTable tr:nth-of-type(even) {
    background-color: var(--alice-blue);
}

#contactTable tr.active:nth-of-type(even) {
    background-color: var(--thistle);
    border-bottom: 2px solid var(--color-brown);
}

#phoneHeadingTable {
    min-width: 130px;
}

.tableButton {
    font-size: 20px;
    height: 28px;
    min-width: 48px;
    border-radius: 12px;
    padding: 0;
    margin: 0;
    filter: none;
    opacity: 0;
}

#contactTable tr.active td button,
#contactTable tr td button:focus{
    opacity: 100%;
}

.tableButton:hover {
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
    transition: filter .2s;
}

#addMsg {
    color: red;
    text-align: center;
}

#logoutButton:hover{
    background-color:rgba(242, 223, 205, 1);
    color: black;
}

#nameSearchLabel,
#numberSearchLabel,
#emailSearchLabel,
#nameLabel,
#numberLabel,
#emailLabel {
    display: inline-block;
    text-align: left;
    font-size: 24px;
    width: 50%; 
}